@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
    background: #f4f4f4 url('xmas background.webp') no-repeat center center fixed;
    background-size: cover;
    color: #333;
}

h1 {
    font-family: 'Playfair Display', serif;
    color: #fff; /* White color for better visibility */
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6); /* Shadow for text */
}

h3 {
    margin-top: -10px;
    margin-bottom: 40px;
    color: #fff; /* White color for better visibility */
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6); /* Shadow for text */
}

p {
    color: #fff; /* White color for better visibility */
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6); /* Shadow for text */
}

.screen {
    /*display: none;*/
    width: 100%;
    max-width: 100%;
}

.hidden {
    display: none;
    opacity: 0;
    transition: opacity 0.5s ease;
}

#nameInput {
    margin-bottom: 20px;
    padding: 10px;
    font-size: 20px;
    width: calc(100% - 60px); /* Adjust for padding */
    border: 2px solid #d32f2f;
    border-radius: 20px;
}

button {
    background-color: #d32f2f; /* Christmas red */
    font-size: 20px;
    border: none;
    border-radius: 20px;
    padding: 10px;
    color: white;
    width: calc(100% - 40px); /* Adjust for padding */
    cursor: pointer;
    transition: all 0.3s ease;
}

/* Responsive Styles */
@media (max-width: 100%) {
    body, button {
        width: 100%;
    }
    #overlay {
        padding: 10px 0;
    }
    
    h1 {
        font-size: 1.5em;
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(1080deg);
    }
}

#wheel {
    width: 90%; /* Adjust as needed for your layout */
    height: auto;
    transition: transform 8s ease-out; /* This can be adjusted for spin speed */
    margin-bottom: 40px;
}

.spinning {
    animation: spin 8s ease-out forwards;
}

#overlay {
    position: absolute;
    top: 45%; 
    height: 55%;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
}

#darkOverlay {
    position: fixed; /* or 'absolute' if the parent is positioned */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75); /* Adjust the alpha for more or less darkness */
    z-index: 10; /* Ensure it's above the background but below the content */
}

/* Make sure your wheel and other content are positioned above the overlay */
#spinWheelScreen {
    position: relative;
    z-index: 20;
}

.background-image {
    position: fixed; /* Use fixed position to cover the entire viewport */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw; /* Use vw and vh units to cover full viewport width */
    height: 100vh; /* Use vw and vh units to cover full viewport height */
    object-fit: cover;
    z-index: 1;
    filter: brightness(0); /* Start with a dark image */
    transition: filter 2s ease-in-out; /* Smooth transition to reveal the image */
}

.screen:not(.hidden) .background-image {
    filter: brightness(1); /* Reveal the image when the screen is active */
}

/* Use media queries to adjust for different aspect ratios if needed */
@media (aspect-ratio: 16/9) {
    .background-image {
        width: auto;
        height: 100vh;
    }
}

@media (aspect-ratio: 9/16) {
    .background-image {
        width: 100vw;
        height: auto;
    }
}

.content-overlay {
    position: absolute; /* position is required for z-index to take effect */
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Dark overlay for readability */
    padding: 20px; /* Add some padding */
    text-align: center; /* Center the text */
    box-sizing: border-box; /* Include padding in the box's width */
    z-index: 2; /* Higher than the background image */
}






