@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
    background: #f4f4f4 url('xmas background.webp') no-repeat center center fixed;
    background-size: cover;
    color: #333;
}

h1 {
    font-family: 'Playfair Display', serif;
    color: #fff; /* White color for better visibility */
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6); /* Shadow for text */
}

h3 {
    margin-top: -10px;
    margin-bottom: 20px;
    color: #fff; /* White color for better visibility */
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6); /* Shadow for text */
}

.screen {
    /*display: none;*/
    width: 100%;
    max-width: 100%;
}

.hidden {
    display: none;
    opacity: 0;
    transition: opacity 0.5s ease;
}

#nameInput {
    margin-bottom: 30px;
    padding: 10px;
    font-size: 20px;
    width: calc(100% - 60px); /* Adjust for padding */
    border: 2px solid #d32f2f;
    border-radius: 20px;
}

button {
    background-color: #d32f2f; /* Christmas red */
    font-size: 20px;
    border: none;
    border-radius: 20px;
    padding: 10px;
    color: white;
    width: calc(100% - 40px); /* Adjust for padding */
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover {
    background-color: #388e3c;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

/* Responsive Styles */
@media (max-width: 100%) {
    body, button {
        width: 100%;
    }
    #overlay {
        padding: 10px 0;
    }
    
    h1 {
        font-size: 1.5em;
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

#wheel {
    width: 90%; /* Adjust as needed for your layout */
    height: auto;
    transition: transform 4s ease-out; /* This can be adjusted for spin speed */
}

.spinning {
    animation: spin 4s ease-out forwards;
}


#overlay {
    position: absolute;
    top: 45%; 
    height: 55%;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
}

